//
   Created by Hao on 3/27/15.
extends ../layout

block content
   section.container
      form.form-horizontal
         input(type='hidden', name='_csrf', value=_csrf)
         section.form-group
            label.col-sm-2.control-label ID
            section.col-sm-10
               p#userId.form-control-static #{user_id}
         section.form-group
            label.col-sm-2.control-label Name
            section.col-sm-10
               p#name.form-control-static #{name}
         section.form-group
            label.col-sm-2.control-label Birthday
            section.col-sm-10
               p#birthday.form-control-static #{birthday}
         section.form-group
            label.col-sm-2.control-label Session
            section.col-sm-10
               p#session.form-control-static #{session}
         section.form-group
            label.col-sm-2.control-label Expire Time
            section.col-sm-10
               p#expireTime.form-control-static #{expire_time}
         button(type='button')#ajaxBtnLogin.btn.btn-default Login
   script(src='https://code.jquery.com/jquery-2.1.3.min.js')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
   script(src='/javascripts/myjs.js')